<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295763136647-4s7f4nl7pcuvvsh7gbpfirbh817gi045.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295763136647-4s7f4nl7pcuvvsh7gbpfirbh817gi045</string>
	<key>API_KEY</key>
	<string>AIzaSyAc0FSJwsfJTHLcYaU_qiKkPO5YhTXS_Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>295763136647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ae.ghaithProject</string>
	<key>PROJECT_ID</key>
	<string>ghaithproject-c1558</string>
	<key>STORAGE_BUCKET</key>
	<string>ghaithproject-c1558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:295763136647:ios:3878c281a57fa90e50e822</string>
</dict>
</plist>
